body {
    padding-top: 56px;
}

.jumbotron {
    background-color: #ffb5e4;
    padding: 4rem 2rem;
}

.card {
    margin-bottom: 2rem;
}

footer {
    background-color: #ffb2cc;
    padding: 1rem 0;
}
